@model PagedList.IPagedList<VeterinariaEdiMvc2021.Entidades.ViewModels.Cliente.ClienteListViewModel>
@using PagedList.Mvc 

@{ ViewBag.Title = "Index"; }
<div>
    <a href="@Url.Action("Create","Clientes")" class="btn btn-primary" style="float: right">Nuevo</a>
    <h2>Lista de Clientes</h2>

</div>
@if (TempData["Msg"] != null)
{
    var msg = TempData["Msg"].ToString();
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito!</strong> @msg
    </div>}

<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Localidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TelefonoFijo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TelefonoMovil)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoFijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoMovil)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ClienteId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Detalles", "Details", new { id = item.ClienteId }, new { @class = "btn btn-info" })
                @Html.ActionLink("borrar", "Delete", new { id = item.ClienteId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
Pàgina: (@Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page
}))