@model VeterinariaEdiMvc2021.Entidades.ViewModels.Mascota.MascotaListViewModel

@{ ViewBag.Title = "Delete"; }
<div>
    <h2>Borre una Mascota</h2>

</div>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Està seguro de borrar este registro?</h3>
    <div>
        <h4>Mascota</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoDeMascota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoDeMascota)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Raza)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Raza)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MascotaId)
            @Html.ValidationSummary(true, "", new { @class = "text-Danger" });

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger" /> |
                @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-success" });
            </div>
        }
    </div>
</body>
</html>
