@model PagedList.IPagedList<VeterinariaEdiMvc2021.Entidades.ViewModels.Raza.RazaListViewModel>
@using PagedList.Mvc
@{ ViewBag.Title = "Index"; }
<div>
    <a href="@Url.Action("Create","Razas")" class="btn btn-primary" style="float: right">Nuevo</a>
    <h2>Lista de Razas</h2>

</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline" }))
{
    <label>Filtar por:</label>
    @Html.DropDownList("tipoDeMascotaSeleccionadaId", ViewBag.ListaTipoDeMascotas as SelectList, htmlAttributes: new { @class = "form-control" })
    <input type="submit" class="btn btn-success" value="Filtrar" />
}


@if (TempData["Msg"] != null)
{
    var msg = TempData["Msg"].ToString();
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Éxito!</strong> @msg
    </div>}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Razas</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().TipoDeMascota)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDeMascota)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.RazaId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Borrar", "Delete", new { id = item.RazaId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
Pàgina:  @Model.PageNumber  de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page
}))